/*Elements pour la navbar*/
.navbar li {
    padding: 0px 10px;
  }
  
  /*Elements pour les contenus*/
  .page-content {
    margin: 0px 20px;
    color: #0c0c0c;
    background-color: rgb(255, 255, 255);
    padding: 10px;
  }

  
  body {
    background: rgb(255, 255, 255);
  }
  
  h1{
    font-size: 32px;
    color: #166196;
    /*text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
    color: green;
    font-family: Arial, Helvetica, sans-serif;*/
    font-weight: bold;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
  
  }

  .link_project {
    font-size: 0,5em;
    float:right;
  }

  
  .openlink_titre{
    margin-top: 2%; 
  }
  .entete {
    font-size: 1,5rem;
    text-align: center;
  }

  
  .jumbotron h2 {
    text-align: center;
    color: #1f3fa8;
    margin-bottom: 1em;
    padding: 0 !important;
  }

  .jumbotron {
    padding: 1rem;
    background-color: rgb(215, 233, 245);
  }
  
  .servdetail h4 {
    color: #188de3;
    font-size: 2rem;
    padding: 5px 0;
  }
  
  .servdetail p {
    padding-left: 20px;
    text-align: justify;
  }

  .openlink_img {
    float: right;
    margin-right: 180px;
    }

    h3.login {
        text-align: center;
        margin-top: 100px;
        }    

    #content-main {
        display: table;
        text-align: center;
        width: 100%;
        vertical-align: middle;
        }
    #form_login {
        display: inline-block;
        margin: auto;
        padding: 10px;
        vertical-align: middle;


        }

    #form_row {
        padding: 10px;
        vertical-align: middle;
        padding: 10px 10px;
        }

    .hr { height: 2px;
        color: #8e8e8e;
        background-color: #8e8e8e;
        width: 250px;
        border: none;
        }

    .card {
        margin: 5% auto;
        width: fit-content;
        text-align: center;


    }

    #login-btn{
        margin-top: 20px;
    }


    #div_id_username{
        margin-top: 20px;
    }

    #div_id_password{
        margin-top: 20px;
    }

    .square {
        width: 100px;
        height: 100px;
      }

    .block2 {
        color: blue;
        width: 70px;
        border: 2px solid black;
        position: absolute;
        top: 0px;
        right: 0px;
    }


    .v-divider{
        margin-left:5px;
        margin-right:5px;
        width:1px;
        height:100%;
        border-left:2px solid rgb(0, 0, 0);
       }

    .container-project div {
        display: inline-block;
        width: 500px;
        min-height: 50px;
        background-color: #eee;
        height: auto;
      }

    .button {
        background-color: #ddd;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
      }

      .folder{
        color: rgb(221, 186, 30);
      }

      .folder-size{
        font-size: 1em;
        font-weight: 700;
      }

      .display-titre{
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.2;
      }

      .experiment{
        color: rgb(110, 22, 182)
      }

      .project-info{
        float: right;
      }

      .servdetail{
        padding-top: 2em;
      }

      .progress-project{
        width:90%;
        padding: 3% 20%;

      }