{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <!-- html header -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>
         {% block title %}
            OpenLink
          {% endblock %}
    </title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="description" content=" content="{% block meta-description %}  OpenLink will establish specialized gateways between the various data management tools throughout the data lifecycle by exploiting their respective APIs,
     while providing a cross-cutting view of their data to the research teams.  {% endblock %}" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}"/>

    <!-- css imports -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/openlink.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block custom_css %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    {% endblock %}

    {% block head %}{% endblock %}
</head>
{# Navigation Menu #}
<header>
    <nav class="navbar-nav navbar-expand-md navbar-light bg-light navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="/" title="OpenLink"><i class="fa fa-link ic-w mr-1"></i>
            <span style="margin-left: 10px">OpenLink</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarleftcontent">
            <ul class="navbar-nav mr-auto mt-lg-0">
                <li class="nav-item" ><a  class="nav-link" href="/projects"><i class="fa fa-desktop ic-w mr-1"></i>Projects</a></li>
                <li class="nav-item dropdown" >
                    <a  class="nav-link dropdown-toggle" href="/tools" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench ic-w mr-1"></i>
                    Tools
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Tools Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Opidor</a>
                        <a class="dropdown-item" href="#">Labguru</a>
                        <a class="dropdown-item" href="#">OMERO</a>
                        <a class="dropdown-item" href="#">INVENIO</a>
                        <a class="dropdown-item" href="#">Datacite</a>
                  </div>                   
                </li>
                <li class="nav-item" ><a  class="nav-link" href="/statistics"><i class="fa fa-percent ic-w mr-1"></i>Statistics</a></li>
                <li class="nav-item" ><a  class="nav-link" href="/settings"><i class="fa fa-cogs ic-w mr-1"></i>Settings</a></li>
                <li class="nav-item" ><a  class="nav-link" href="/sontact"><i class="fa fa-envelope-open ic-w mx-1"></i>Contact</a></li>
            </ul>
             <ul class="navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="/accounts/logout"><span class="fa fa-sign-out fa-1x"></span> Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile/{{user.username}}/" ><span class="fa fa-user fa-1x"></span> {{ user.get_username }}</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin"><span class="fa fa-unlock-alt fa-1x"></span> Admin</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/accounts/login"><span class="fa fa-sign-in fa-1x"></span> Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin"><span class="fa fa-unlock-alt fa-1x"></span> Admin</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<body>

    

    <div class="page-content">
        {% block content %}{% endblock %}
    </div>

    <!-- js imports -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'jquery/popper.min.js' %}"></script>
    <script src="{% static 'jquery/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.min.js' %}"></script>
    <script src="{% static 'js/modules/treeview.min.js' %}"></script>
    <script src="{% static 'js/modules/animations-extended.min.js' %}"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#table').DataTable({searching: false, info: false});
        } );
    </script>

    <script>
        $(document).ready(function() {
            $('.treeview').mdbTreeview();
        });
    </script>
</body>
</html>