
{% load static i18n %}

<nav class="navbar {{ nav_classes }}" role="navigation">
    <a class="navbar-brand" href="/" title="OpenLink"><img src="{% static 'images/sitelogo.png' %}" alt="OpenLink" height="45">
        <span style="margin-left: 10px">OpenLink</span>
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarleftcontent"
    aria-controls="navbarleftcontent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarleftcontent">
        <ul class="navbar-nav mr-auto mt-lg-0">
            <li class="nav-item active" ><a  class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item" ><a  class="nav-link" href="/Projects">Services</a></li>
            <li class="nav-item" ><a  class="nav-link" href="/Tools">Tools</a></li>
            <li class="nav-item" ><a  class="nav-link" href="/Statistics">Databases</a></li>
            <li class="nav-item" ><a  class="nav-link" href="/Settings">Events</a></li>
            <li class="nav-item" ><a  class="nav-link" href="/Contact">Platforms</a></li>
        </ul>
         <ul class="navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="/accounts/login"><span class="fa fa-user fa-1x"></span> Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin"><span class="fa fa-sign-in fa-1x"></span> Admin</a></li>
        </ul>
    </div>
</nav>