{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

{% if user.is_authenticated %}

<h1 class="display-titre" style="background-color: rgb(255, 255, 255)">My projects</h1>

  <form method="get" style="margin-bottom: 10px;">
    <div class="container well" >
      <h4 style="margin-top: 0">Filter Projects</h4>

      <div class="" style="padding: 5px;">
        <div class="form-group col-sm-4 col-sm-3">

          {% render_field filter.form.name class="form-control" %}
        </div>
        <button type="submit" class="btn-sm btn rounded">
            <span class="fa fa-search"></span> Search
        </button>
      </div>
    </div>
  </form>
    <div class="container">
      <table id="table" data-page-length='25' class="table table-striped table-bordered ">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Folders</th>
            <th>Date_created</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in filter.qs %}
            <tr>
              <td><a href="/project/{{ obj.id }}">{{ obj.name }}</a></td>
              <td>{% for folder in obj.folder.all %}{{ folder }}{%if not forloop.last%}<br>{%endif%}{% endfor %}</td>
              <td>{{ obj.date_created }}</td>
              <td>{{ obj.author }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4">No data</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>




{% else %}

<h2 style="background-color: rgb(255, 255, 255)"><a href= "/accounts/login">Please Login</h2></a>

  

{% endif %}

{% endblock %}
