{% extends "base.html" %}

{% block title %}
    Details on project: {{ projects_list.0.name }}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% block body %}
    {% for project in projects_list %}

          <div class="container">
            <div class= "project-info">
                <p class="badge badge-pill badge-default"><i class="fa fa-clock fa-1x"></i>&nbsp{{ project.date_created }}</p>
                <h5>Created By:</h5>
                <p>{{ project.author }}
                </p>
                <h5>Description:</h5>
                <p>{{ project.description }}
                </p>
            </div>
            <h1 class="display-titre"><i class="fa fa-laptop fa-1x"></i>{{ project.name }}</h1>

            <div class="raw entete container-project">
            {% if project.id_dmp %}
                <a href="{{ project.id_dmp }}" target="_blank">View DMP<v class="v-divider" ></v></a>
            {% else %}
                <a href="" target="_blank">Map to DMP<v class="v-divider" ></v></a>
            {% endif %}
            {% if project.id_labguru %}
                <a href="{{ project.id_labguru }}" target="_blank">View eNotebook<v class="v-divider" ></v></a>
            {% else %}
                <a href="" target="_blank">Map to eNotebook<v class="v-divider" ></v></a>
            {% endif %}
            {% if project.id_seafile %}
                <a href="{{ project.id_seafile }}" target="_blank">View Documents<v class="v-divider" ></v></a>
            {% else %}
                <a href="" target="_blank">Map to Documents<v class="v-divider" ></v></a>
            {% endif %}

            </div>


            <div class = "progress-project">
            <div class = "progress " style="height: 25px;">
   
                
                <div class = "progress-bar progress-bar-info" role = "progressbar" 
                   aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "width: 30%;"> Labguru:
                   
                   <span class = "sr-only">40% Complete (info)</span>
                </div>
                
                <div class = "progress-bar progress-bar-warning" role = "progressbar" 
                   aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "width: 20%;"> Omero:
                   
                   <span class = "sr-only">30%Complete (warning)</span>
                </div>
            </div>
                
            </div>
          </div>


        <div class="container">
            <div class="row ">
                <div class="col-lg-12 servdetail">
                    <div class="treeview ">
                    
                    {% for value in project.folder.all %}
                        <ul class="mb-1 pl-3 pb-2">
                            <li><i class="fa fa-angle-right rotate fa-2x"></i>
                                <span class="folder-size"><i class="fa fa-folder fa-1x folder ic-w mx-1"></i>&nbsp{{value}}{%if not forloop.last%}{%endif%}</span>
                                <span class="link_project">
                                {% for folder in folders_list %}
                                {%if folder == value %}
                                {% if folder.id_labguru %}
                                    <a href="{{ folder.id_labguru }}" target="_blank">&nbsp View on eNotebook<v class="v-divider" ></v></a>
                                {% else %}
                                    <a href="" target="_blank">Map to eNotebook<v class="v-divider" ></v></a>
                                {% endif %} 
                                {% if folder.id_omero %}
                                    <a href="{{ folder.id_omero }}" target="_blank">View on Omero<v class="v-divider" ></v></a>
                                {% else %}
                                    <a href="" target="_blank"> Map to Omero<v class="v-divider" ></v></a>
                                {% endif %} 
                                    <i  class="fa fa-trash fa-1x"></i>
                                </span>
                        <ul class="nested">
                                {% for valuef in folder.experiment.all %}
                                <li>
                                <span class="folder-size"><i class="fa fa-flask ic-w mr-1 experiment"></i>&nbsp{{valuef}}{%if not forloop.last%}{%endif%}</span>
                                <span class="link_project">
                                {% for experiment in experiments_list %}
                                {%if experiment == valuef %}
                                {% if experiment.id_labguru %}
                                    <a href="{{ experiment.id_labguru }}" target="_blank">&nbsp View on eNotebook<v class="v-divider" ></v></a>
                                {% else %}
                                    <a href="" target="_blank">Map to eNotebook<v class="v-divider" ></v></a>
                                {% endif %} 
                                {% if experiment.id_omero %}
                                    <a href="{{ experiment.id_omero }}" target="_blank">View on Omero<v class="v-divider" ></v></a>
                                {% else %}
                                    <a href="" target="_blank"> Map to Omero<v class="v-divider" ></v></a>
                                {% endif %} 
                                    <i  class="fa fa-trash fa-1x"></i>
                                
                                </span>
                                {% endif %}                                
                                {% endfor %}
                                {% endfor %}
                            </li>
                            </ul>
                            <hr/>
                            {%endif%}
                            {% endfor %}
                            </li>
                        </ul>
                    {% endfor %}
                    
                    </div>
                </div>
            

            </div>
              
        </div>
    {% endfor %}
{% endblock %}




    

{% else %}

<h2 style="background-color: rgb(255, 255, 255)">Please Login</h1>

  

{% endif %}

{% endblock %}

