{% extends "base.html" %}
{% load static i18n %}
{% block content %}

<h1 style="background-color: rgb(255, 255, 255)">OpenLink</h1>


    <div class="container">
        <span class="fa fa_user"><h3>User Profile</h3></span>
        <ul>
            <li><b>Username:</b> {{ user.username }}</li>
            <li><b>email:</b> {{ user.email }}</li>
            <li><b>First name:</b> {{ user.first_name }}</li>
            <li><b>Last name:</b> {{ user.last_name }} </li>
            <li><b>You Group:</b> {% for group in user.groups.all %}
                {{ group }}
            {% endfor %} </li>
            <li><b>Token Labguru:</b> {{ user.profile.token_labguru }}</li>
            <li><b>Token Omero:</b> {{ user.profile.token_omero }}</li>

    
        </ul>
    
</div>
</body>



{% endblock %}