<!-- Content -->
<div id="content" class="colM" style="text-align:center">

<div id="content-main">
    <form id="form_login" method="post"  role="form" action="/">
        {% csrf_token %}
        <div class="form-row">
        <label class="required" for="id_username"></label><input type="text" name="username" placeholder="Utilisateur">
        </div>
        </br>
        <div class="form-row">
        <label class="required" for="id_password"> </label>
        <input type="password" name="password" placeholder="Mot de passe">
        </div>
    </br>
        <div class="submit-row">
        <input type="submit" value="login" />
        </div>
    </form>
    <hr class="hr">
    <p><a href="*">Contact Support</a></p>
</div>
